@use 'utils';

.description {
  max-width: 815px;
  margin-bottom: 16px;

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 30px;
    @include utils.media('tablet') {
      font-size: 100px;
      margin-bottom: 70px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: left;
    color: #E0E2E9;
    margin-bottom: 30px;
    @include utils.media('tablet') {
      font-size: 18px;
    }
  }
  &__text > a {
    color: #0077E2;
    transition: all .2s ease;
    padding: 1px;
    &:hover span {
      color: #0b3ee7d7;
    }
    &:focus {
      outline: 1px solid white;
      border-radius: 8px;
    }
  }
}